<p id="notice"><%= notice %></p>

<p>
  <strong>Game:</strong>
  <%= @high_score1.game %>
</p>

<p>
  <strong>Score:</strong>
  <%= @high_score1.score %>
</p>

<p>
  <strong>Name:</strong>
  <%= @high_score1.name %>
</p>

<%= link_to 'Edit', edit_high_score1_path(@high_score1) %> |
<%= link_to 'Back', high_score1s_path %>
<%= image_tag(@idea.picture_url, :width => 600) if @idea.picture.present? %>